{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundación Acompañando la Adolescencia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Enlazar con Bootstrap CSS -->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        footer {
            margin-top: auto;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Fundación ALMA (Acompañando a Las Madres con hijos Adolescentes)</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="#inicio">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#nosotros">Sobre nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="#programas">Programas</a></li>
                        <li class="nav-item"><a class="nav-link" href="#recursos">Recursos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contacto">Contáctenos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section id="inicio" class="bg-white">
        <div class="container py-5">
            
            <h2 class="text-center">Bienvenido a nuestra Fundación</h2>
            <img src="{% static 'images/alma.jpg' %}" alt="My image">

            <p class="lead text-center">Somos una organización dedicada a apoyar a las madres durante la etapa de la adolescencia de sus hijos. Nuestro objetivo es proporcionarles herramientas y recursos para fortalecer el vínculo familiar y promover un desarrollo positivo en los jóvenes.</p>
            <div class="text-center">
                <a href="#contacto" class="btn btn-primary mx-2">Únete como voluntario</a>
                <a href="#donar" class="btn btn-success mx-2">Haz una donación</a>
            </div>
        </div>
    </section>

    <section id="nosotros" class="bg-light">
        <div class="container py-5">
            <h2 class="text-center">Sobre Nosotros</h2>
            <p class="lead text-center">En Fundación Acompañando la Adolescencia, creemos en el poder del apoyo comunitario para enfrentar los desafíos de la crianza en la adolescencia. Nuestro equipo está formado por profesionales comprometidos con nuestra misión y con una amplia experiencia en el trabajo con familias.</p>
        </div>
    </section>

    <!-- Otras secciones como Programas, Recursos y Contacto -->

    <footer class="bg-dark text-light py-4">
        <div class="container">
            <p class="text-center">Derechos de autor &copy; 2024 Fundación Acompañando la Adolescencia</p>
        </div>
    </footer>

    <!-- Enlazar con Bootstrap JS (jQuery y Popper.js deben estar incluidos también) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
